.addTask {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  outline: none;
}

.input:focus {
  border: black solid 1px;
}

.button {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #02db02;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.button:focus {
  border: black solid 1px;
}

@media all and (max-width: 425px){
  .addTask {
    flex-direction: column;
  }
  .input {
    width: 100%;
    margin-bottom: 10px;
  }
  .button {
    width: 100%;
  }
}