* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  min-height: 100vh;
  background-color: #eeeeee;
}

.wrapperDark {
  background-color: #171717;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e2e2e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  transition: all 1s;
}

.appDark {
  color: white;
  background-color: #1b1b1b;
}

@media all and (max-width: 425px) {
  .app {
    padding: 0 5px;
  }
}

